# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# dependencies
/node_modules

# production
/build

# IDE
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json*
